.profile {
    .title {
        margin: 20px 10px;
        color: #000;
        font-weight: bold;
        font-family: 'Arial';
    }
    .from-box {
        max-width: 600px;
        margin: 30px auto;
    }
}