<div class="profile">
    <h2 class="title">设置</h2>
    <uib-tabset>
        <uib-tab heading="用户信息">
            <div class="from-box">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="familyName" class="col-sm-3 control-label">姓氏</label>
                        <div class="col-xs-4">
                            <input class="form-control" id="familyName" name="familyName" placeholder="姓氏" ng-model="profile.user.familyName">
                        </div>
                        <div class="col-xs-5">
                            <input class="form-control" name="givenName" placeholder="名字" ng-model="profile.user.givenName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nickname" class="col-sm-3 control-label">昵称</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="nickname" name="nickname" placeholder="" ng-model="profile.user.nickname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input id="gender" type="radio" name="gender" value="male" ng-model="profile.user.gender"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="female" ng-model="profile.user.gender"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-sm-3 control-label">手机号码</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="mobile" name="mobile" placeholder="" ng-model="profile.user.mobile">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-3 control-label">工作地</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="location" name="location" placeholder="" ng-model="profile.user.location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="col-sm-3 control-label">身高</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="height" name="height" placeholder="" ng-model="profile.user.height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight" class="col-sm-3 control-label">体重</label>
                        <div class="col-sm-4">
                            <input class="form-control" id="weight" name="weight" placeholder="" ng-model="profile.user.weight">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="chest" class="col-sm-3 control-label">三围</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="chest" name="chest" placeholder="胸围" ng-model="profile.user.chest">
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" id="waist" name="waist" placeholder="腰围" ng-model="profile.user.waist">
                        </div>
                        <div class="col-sm-3">
                            <input class="form-control" id="hip" name="hip" placeholder="臀围" ng-model="profile.user.hip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shoseSize" class="col-sm-3 control-label">鞋码</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="shoseSize" name="shoseSize" placeholder="" ng-model="profile.user.shoesSize">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hairColor" class="col-sm-3 control-label">头发颜色</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="hairColor" name="hairColor" placeholder="" ng-model="profile.user.hairColor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="eyeColor" class="col-sm-3 control-label">眼睛颜色</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="eyeColor" name="eyeColor" placeholder="" ng-model="profile.user.eyeColor">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-info" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-tab>
        <uib-tab heading="修改密码">
            <div class="from-box">
                <form class="form-horizontal" ng-submit="profile.save()">
                    <div class="form-group">
                        <label for="oldPassword" class="col-sm-3 control-label">旧密码</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="oldPassword" name="oldPassword" placeholder="" type="password" ng-model="profile.oldPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword" class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="newPassword" name="newPassword" placeholder="" type="password" ng-model="profile.newPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword2" class="col-sm-3 control-label">确认新密码</label>
                        <div class="col-sm-9">
                            <input class="form-control" id="newPassword2" name="newPassword2" placeholder="" type="password" ng-model="profile.newPassword2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-info" type="submit">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </uib-tab>
        <uib-tab heading="修改头像">
            <div class="from-box">
                <op-upload-img-page user="profile.user" creator="profile.creator" user="profile.user" method="patch"></op-upload-img-page>
            </div>
        </uib-tab>
    </uib-tabset>
</div>